
body{
  padding:5%;
  background-color: #272b33;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color:white;
 justify-content: center;
 justify-items: center;
 align-items: center
}
h1{
  font-family: 'Creepster', cursive;
letter-spacing: 0.5em;
font-size: 4em;
}
h3 {
  font-family: 'Khand', sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Noto Sans Georgian', sans-serif;
  margin:0px;
}
p.light {
  color:grey;
  font-weight: 200;
}
.container{ 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:10px;
  justify-content: center;
  margin:5%;
}
.one-character{
  background-color: #3c3e44;
  display: flex;
  flex-direction: row;
  border-radius:10px;
  gap: 10px
}
.character-image{
  order: 2;
  border-radius: 10px 0px 0px 10px;
}
.character-image__img{
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}
img {
  border-radius: 10px 0px 0px 10px;
}
.character-description{
  order: 4;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
}
.character-description--status-species{
  display: flex;
  flex-direction: row;
  gap:10px
}
.character-image{
  background-image:url('https://rickandmortyapi.com/api/character/avatar/1.jpeg') ;
height: auto;
width: auto;
display: flex;
}
.btn-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color:#272b33;
  background-color: azure;
  transition: 0.3s linear;
  font-weight: 800;
}
button:hover {
  padding:25px 400px;
  border-radius: 10px;
  color:#4c4c4e;
  background-color: rgb(43, 157, 157);
}
@media (min-width: 481px) and (max-width: 800px){
  .container{ 

    grid-template-columns: 1fr;
}}
.d-none {
  display:none;
}